#!/bin/bash

# put your own OpenAI (or ANTHROPIC or GOOGLE) API key below
# this example is not real! do not check in your own key!
# put `env.sh` in your `.gitignore` file

export OPENAI_API_KEY=your_api_key_here
